/* ==Black Filen==
@name           app.filen.io
@namespace      github.com/devEducaua/stylus-css
@version        1.0.0
@description    black theme for filen.io
@author         Me
==/Black Filen== */
@-moz-document domain("app.filen.io") {
  .bg-muted\/40 {
    background-color: #000000;
  }
    #app {
        background-color: #000000;
    }
    
    * {
        border-color: #000000;
        border-radius: 6px !important;
    }
}
