/* ==Black Gpt==
@name           chatgpt.com
@namespace      github.com/devEducaua/stylus-css
@version        1.0.0
@description    black gpt
@author         Me
==/Black Gpt== */

@-moz-document domain("chatgpt.com") {
    :root {
        --primary: #000000;
        --secondary: #111111;
        --tertiary: #222222;
    }
    
    * {
       border-radius: 6px;
    }
    
    a.group.flex.gap-2.p-2\.5.text-sm.cursor-pointer.rounded-lg.px-2,
    div.px-1.text-pretty.whitespace-pre-wrap,
    button.composer-btn[aria-label="Botão de ditado"] {
        display: none !important;
    }

    @layer utilities {
        .dark\:bg-\[\#303030\]:is(.dark *) {
            background-color: var(--secondary);
        }
    }
    
    @layer base {
        .dark {
            --main-surface-primary: var(--primary);
            --sidebar-surface-primary: var(--primary);
            --sidebar-surface-secondary: var(--primary);
            --sidebar-surface-tertiary: var(--secondary);
            --message-surface:var(--secondary);
        }
    }
    
    .dark {
        --bg-elevated-secondary: var(--black);
        --bg-primary: var(--black);
    }
}
